{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "11.15.0"
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
