{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "11.15.0"
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread"
  ]
}
